.menuContainter {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 80%;
  height: 100px;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
}
button {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}
button:active {
  opacity: 0.5;
}
